<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>冷数据分析</title>
</head>
<body>
  <a href="http://10.4.19.71:8080/audit/search/">搜索其他日期或用户</a>
  <br>
  <br>
  <br>
  <br>
  <br>
  <table  border="1" cellspacing="0" cellpadding="0"style="border-collapse:collapse">
  <tr border="1" cellspacing="0" cellpadding="0">
  <td style="vertical-align:middle; text-align:center" width="50">用户</td>
  <td style="vertical-align:middle; text-align:right" width="100">目录大小</td>
  <td style="vertical-align:middle; text-align:center" width="800">路径</td>
  <td style="vertical-align:middle; text-align:center" width="220">最后访问时间</td>
  </tr>
  </table>
  {% for i in datas %}
  <table  border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
  <tr border="1" cellspacing="0" cellpadding="0">
  <td style="vertical-align:middle; text-align:center" width="50">{{ i.owner }}</td>
  <td style="vertical-align:middle; text-align:right" width="100">{{ i.size }}MB</td>
  <td style="vertical-align:middle; text-align:center" width="800">{{ i.path }}</td>
  <td style="vertical-align:middle; text-align:center" width="220">{{ i.m_year | date:"Y-m-d" }}</td>
  </tr>
  </table>
  {% endfor %}
  </tr>
</body>
</html>
