<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<link href="/site_media/css/validationEngine.jquery.css" rel="stylesheet" type="text/css" />  
	<script src="/site_media/js/validation/jquery.validationEngine-cn.js" type="text/javascript"></script>
   <script src="/site_media/js/validation/jquery.validationEngine-cycas.js" type="text/javascript"></script>           
    <script src="/site_media/js/validation/jquery.validationEngine.js" type="text/javascript"></script>
</head>
<body style="padding:0px;overflow:hidden"> 
<div style="overflow-x: scroll; overflow-y: scroll;height: 400px; width:1120px;">
				<form id="formsearch" onsubmit="f_search_action();return false;" class="l-form" name="caForm" method="get">
						部门名称:<input style="padding-right:12px;width:100px" maxlength="50" id="name" type="text" name="department" ></input>
						<input type="submit" value="搜索" name="search" />
		</form>    
						<a href="http://10.4.19.71:8080/audit/hadoop/department_reg">新增部门</a> 
	<table border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse;width:2000px">
         <tr>
                <td style="vertical-align:middle; text-align:center" width="100">部门名称</td>
                <td style="vertical-align:middle; text-align:center" width="100">部门负责人</td>
                <td style="vertical-align:middle; text-align:center" width="100">部门邮箱</td>
                <td style="vertical-align:middle; text-align:center" width="100">负责人电话</td>
                <td style="vertical-align:middle; text-align:center" width="100">负责人邮箱</td>
                <td style="vertical-align:middle; text-align:center" width="100">操作</td>
          </tr>

         {% for i in datas %}
          <tr>
                <td style="vertical-align:middle; text-align:center" width="100">{{ i.department }}</td>
                <td style="vertical-align:middle; text-align:center" width="100">{{ i.leader }}</td>
                <td style="vertical-align:middle; text-align:center" width="100">{{ i.depart_mail }}</td>
                <td style="vertical-align:middle; text-align:center" width="100">{{ i.leader_mobile }}</td>
                <td style="vertical-align:middle; text-align:center" width="100">{{ i.leader_mail }}</td>
                <td style="vertical-align:middle; text-align:center" width="200"><a href="http://10.4.19.71:8080/audit/hadoop/department_del/{{i.department}}">删除</a>&nbsp;<a href="http://10.4.19.71:8080/audit/hadoop/department_update/{{i.department}}">编辑</a>&nbsp;<a href="http://10.4.19.71:8080/audit/hadoop/department_info/{{i.department}}">查看</a></td>
         </tr>
          {% endfor %}


    </table>
	 <p>
        {% if datas.has_previous %}
          <a href="?page={{ datas.previous_page_number }}">Previous</a>
          {% endif %}
          {# datas.paginator.number_pages 返回总页数 #}
          Page {{ datas.number }} of {{ datas.paginator.num_pages }}.
        {% if datas.has_next %}
          <a href="?page={{ datas.next_page_number }}">Next</a>
        {% endif %}
        </p>
</div>
		
</body>
</html>
