<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title></title>
</head>
<body>
<a href="http://10.4.19.71:8080/audit/search/">冷数据搜索</a>
<br>
<br>

  <form method="post">
  {{form.as_p}}
  <td>时间格式：年-月-日</td>
  <br>
  <br>
  <input type="submit" value="搜索" />
  </form>

<script type="text/javascript" src="/site_media/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/site_media/highcharts.js"></script>
<script type="text/javascript" src="/site_media/exporting.js"></script>
<script>
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'column',
            margin: [ 50, 50, 100, 80]
        },
        title: {
            text: ' 查询对比情况'
        },
        xAxis: {
            categories: {{categories | safe}},
            labels: {
                rotation: 0,
                align: 'right',
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: '占用空间'
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            pointFormat: '占用空间: <b>{point.y:.1f}</b>',
        },
        series: [{
            name: '今天的日志',
            data: {{data}},
            dataLabels: {
                enabled: false,
                rotation: -90,
                color: '#FFFFFF',
                align: 'right',
                x: 4,
                y: 10,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif',
                    textShadow: '0 0 3px black'
                }
            }
        },
	{
            name: '今天的日志',
            data: {{data_date}},
            dataLabels: {
                enabled: false,
                rotation: -90,
                color: '#FFFFFF',
                align: 'right',
                x: 4,
                y: 10,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif',
                    textShadow: '0 0 3px black'
                }
            }
        },
]
    });
});
</script>

<script>
$(function () {
    $('#container2').highcharts({
        chart: {
            type: 'column',
            margin: [ 50, 50, 100, 80]
        },
        title: {
            text: '总体占用量排名前10的用户'
        },
        xAxis: {
            categories: {{categories | safe}},
            labels: {
                rotation: 0,
                align: 'right',
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: '占用空间'
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            pointFormat: '占用空间: <b>{point.y:.1f}</b>',
        },
        series: [{
            name: '今天的日志',
            data: {{data}},
            dataLabels: {
                enabled: false,
                rotation: -90,
                color: '#FFFFFF',
                align: 'right',
                x: 4,
                y: 10,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif',
                    textShadow: '0 0 3px black'
                }
            }
        }]
    });
});
</script>

<div id="container2" style="min-width:700px;height:400px"></div>
<div id="container" style="min-width:700px;height:400px"></div>


</body>
</html>
