<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	width:469px;
	height:462px;
	z-index:1;
	left: 10px;
	top: 4px;
}
.STYLE4 {font-size: 12px}
.STYLE5 {font-size: 14px}
-->
</style>
</head>

<body>
<div id="Layer1">
  <table width="449" height="221" border="0">
    <tr>
      <td colspan="5"><h3 class="STYLE5">亦庄机房hadoop2.0集群</h3></td>
    </tr>
    <tr>
      <td width="7">&nbsp;</td>
      <td colspan="4"><span class="STYLE4">最近三个月运行情况</span></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td width="300"><span class="STYLE4">总时长: {{computeTime_three_month_ago_hou}}小时{{computeTime_three_month_ago_min}}分钟</span></td>
      <td width="48"><span class="STYLE4"></span></td>
      <td width="300"><span class="STYLE4">平均在线时长：{{computeTime_avg_three_month_ago_hou}}小时{{computeTime_avg_three_month_ago_min}}分钟</span></td>
      <td width="101">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="STYLE4">总任务数: {{jobcount_three_month_ago}}</span></td>
      <td><span class="STYLE4"></span></td>
      <td><span class="STYLE4">每天平均任务数: {{jobcount_avg_three_month_ago}}</span></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="STYLE4">总用户数: {{usercount_three_month_ago}}</span></td>
      <td><span class="STYLE4"></span></td>
      <td><span class="STYLE4">每天平均用户数: {{usercount_avg_three_month_ago}}</span></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="STYLE4">最近一周运行情况</span></td>
      <td><span class="STYLE4"></span></td>
      <td><span class="STYLE4"></span></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="STYLE4">总时长：{{computeTime_one_week_ago_hou}}小时{{computeTime_one_week_ago_min}}分钟</span></td>
      <td><span class="STYLE4"></span></td>
      <td><span class="STYLE4">平均在线时长: {{computeTime_avg_one_week_ago_hou}}小时{{computeTime_avg_one_week_ago_min}}分钟</span></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="STYLE4">总任务数: {{jobcount_one_week_ago}}</span></td>
      <td><span class="STYLE4"></span></td>
      <td><span class="STYLE4">每天平均任务数: {{jobcount_avg_one_week_ago}}</span></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="STYLE4">总用户数: {{usercount_one_week_ago}}</span></td>
      <td><span class="STYLE4"></span></td>
      <td><span class="STYLE4">每天平均用户数: {{usercount_avg_one_week_ago}}</span></td>
      <td>&nbsp;</td>
    </tr>
  </table>
  <table width="449" height="221" border="0">
    <tr>
      <td colspan="5"><h3 class="STYLE5">亦庄机房hadoop1.0集群</h3></td>
    </tr>
    <tr>
      <td width="10">&nbsp;</td>
      <td colspan="4"><span class="STYLE4">最近三个月运行情况</span></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td width="300"><span class="STYLE4">总时长: {{computeTime_three_month_ago_hou1}}小时{{computeTime_three_month_ago_min1}}分钟</span></td>
      <td width="50"><span class="STYLE4"></span></td>
      <td width="300"><span class="STYLE4">平均在线时长：{{computeTime_avg_three_month_ago_hou1}}小时{{computeTime_avg_three_month_ago_min1}}分钟</span></td>
      <td width="87"><span class="STYLE4"></span></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="STYLE4">总任务数: {{jobcount_three_month_ago1}}</span></td>
      <td><span class="STYLE4"></span></td>
      <td><span class="STYLE4">每天平均任务数: {{jobcount_avg_three_month_ago1}}</span></td>
      <td><span class="STYLE4"></span></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="STYLE4">总用户数: {{usercount_three_month_ago1}}</span></td>
      <td><span class="STYLE4"></span></td>
      <td><span class="STYLE4">每天平均用户数: {{usercount_avg_three_month_ago1}}</span></td>
      <td><span class="STYLE4"></span></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="STYLE4">最近一周运行情况</span></td>
      <td><span class="STYLE4"></span></td>
      <td><span class="STYLE4"></span></td>
      <td><span class="STYLE4"></span></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="STYLE4">总时长：{{computeTime_one_week_ago_hou1}}小时{{computeTime_one_week_ago_min1}}分钟</span></td>
      <td><span class="STYLE4"></span></td>
      <td><span class="STYLE4">平均在线时长: {{computeTime_avg_one_week_ago_hou1}}小时{{computeTime_avg_one_week_ago_min1}}分钟</span></td>
      <td><span class="STYLE4"></span></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="STYLE4">总任务数: {{jobcount_one_week_ago1}}</span></td>
      <td><span class="STYLE4"></span></td>
      <td><span class="STYLE4">每天平均任务数: {{jobcount_avg_one_week_ago1}}</span></td>
      <td><span class="STYLE4"></span></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="STYLE4">总用户数: {{usercount_one_week_ago1}}</span></td>
      <td><span class="STYLE4"></span></td>
      <td><span class="STYLE4">每天平均用户数: {{usercount_avg_one_week_ago1}}</span></td>
      <td><span class="STYLE4"></span></td>
    </tr>
  </table>
  <p>&nbsp;</p>
</div>
</body>


</html>
